{% extends 'base.html' %}

{% block title %} PIE {% endblock %}

{% block content %}

<body class="">
    <img src="/static/Imagenes/foto_politecnico.jpg" alt="" class="absolute inset-0 w-full h-full object-cover opacity-80 z-[-1]">
    {% include 'componentes/navbar.html' %}

    {% include 'componentes/sidebar.html' %}

    <div class="flex flex-col ml-64 mt-2 w-4/5"> <!-- Cambié w-3/5 a w-4/5 para hacer la tabla un poco más ancha -->
        
    <!-- FILTRO PARA VISUALIZAR SOLO UN CURSO -->
    <form method="get" action="" class="flex space-x-4 mb-4">
        <div>
            <label class="text-sky-900 font-bold text-sm" for="course-filter">Filtrar por Curso:</label>
            <select class=" rounded-sm pl-2 py-1 px-5 text-sm md:py-1 w-40" name="curso_filtro" id="course-filter">
                <option value="">Todos</option>
                {% for curso in all_cursos %}
                    <option value="{{ curso }}">{{ curso }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex items-end">
            <button class="bg-gradient-to-r from-sky-700 to-sky-600 
            hover:from-sky-700 hover:to-sky-900 hover:text-white text-white text-sm py-1 px-2 rounded-sm" 
            type="submit">Filtrar</button>
        </div>
    </form>


        <div class="overflow-x-auto">
            <table class="w-full text-center">
                <thead class="border-b bg-gradient-to-b from-sky-900 to-sky-700">
                    <tr>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1">CURSO</th>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1 min-w-1/6">ESTUDIANTE</th>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1 min-w-1/4">APODERADO TITULAR</th>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1 min-w-1/4">APODERADO SUPLENTE UNO</th>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1 min-w-1/4">APODERADO SUPLENTE DOS</th>
                        <th scope="col" class="font-semibold font-sans text-sm text-start text-white px-2 py-1">INFO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pie in pies %}
                    <tr class="border-b border-neutral-400 bg-white">
                        <td class="text-start text-gray-900 px-2 py-1 text-sm font-sans whitespace-no-wrap">{{ pie.curso }}</td>
                        <td class="text-start text-gray-900 px-2 py-1 text-sm font-sans whitespace-no-wrap">
                            <a href=""></a>{{ pie.estudiante|capfirst }}</td>


                            <td class="text-start text-gray-900 px-2 py-1 text-sm font-sans whitespace-no-wrap"> {{ pie.apoderado_titular| capfirst}}</td>
                            
                            
                            

                        
                        <td class="text-start text-gray-900 px-2 py-1 text-sm font-sans whitespace-no-wrap">{{ pie.apoderado_suplente_uno| capfirst}}</td>
                        <td class="text-start text-gray-900 px-2 py-1 text-sm font-sans whitespace-no-wrap">{{ pie.apoderado_suplente_dos | capfirst}}</td>
                        <td class="text-start text-sky-900 px-2 py-1 text-sm font-sans font-bold whitespace-no-wrap">
                            <a href="{% url 'estudiante' pie.estudiante.id %}" class="hover:bg-gray-300 px-6 py-1">VER</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Enlaces de paginación -->
    <div class="flex justify-center mt-4">
        <ul class="flex space-x-2">
            {% if pies.has_previous %}
                <li><a href="?page=1{% if request.GET.curso_filtro %}&curso_filtro={{ request.GET.curso_filtro }}{% endif %}" 
                    class="bg-gradient-to-r from-sky-900 to-sky-700 
                    hover:from-sky-600 hover:to-sky-600
                    font-sans text-white text-sm px-2 py-1 rounded-sm">
                    PRIMERA PÁGINA</a></li>
                <li><a href="?page={{ pies.previous_page_number }}{% if request.GET.curso_filtro %}&curso_filtro={{ request.GET.curso_filtro }}{% endif %}" 
                    class="bg-gradient-to-r from-sky-900 to-sky-700 
                    hover:from-sky-600 hover:to-sky-600 
                    font-sans text-white text-sm px-2 py-1 rounde-sm">
                    ANTERIOR</a></li>
            {% endif %}
            
            <li class="bg-gradient-to-r from-sky-900 to-sky-700 
            hover:from-sky-600 hover:to-sky-600
            font-sans text-white text-sm px-3 py-1 -my-1 rounded-sm">
            {{ pies.number }}</li>
            
            {% if pies.has_next %}
                <li><a href="?page={{ pies.next_page_number }}{% if request.GET.curso_filtro %}&curso_filtro={{ request.GET.curso_filtro }}{% endif %}" 
                    class="bg-gradsky-600 hover:to-sky-600
                    font-sans text-white text-sm px-2 py-1 rounded-sm">
                    SIGUIENTE</a></li>
                <li><a href="?page={{ pies.paginator.num_pages }}{% if request.GET.curso_filtro %}&curso_filtro={{ request.GET.curso_filtro }}{% endif %}" 
                    class="bg-gradient-to-r from-sky-900 to-sky-700 
                    hover:from-sky-600 hover:to-sky-600  
                    font-sans text-white text-sm px-2 py-1 rounded-sm">
                    ÚLTIMA</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
    <div class="flex flex-col ml-64 mt-2">
        <button onclick="document.getElementById('add_estudiante_modal').showModal()" id="btn"
                    class="py-2 px-4 mt-1 mb-1 bg-gradient-to-b from-red-800 to-red-700 
                    hover:from-red-600 hover:to-red-500 text-white rounded-sm text shadow-xl block w-1/6">
                        AGREGAR ESTUDIANTE
        </button> 
    </div>

    {% include 'pie/add_estudiante.html' %}
</body>

{% endblock content %}
