{% extends 'base.html' %}

{% block title %}Registro PIE{% endblock %}

{% block content %}

<body class="bg-gradient-to-r from-amber-900 to-yellow-600">

  {% include 'componentes/navbar.html' %}

  <div class="ml-72 px-2 mx-auto">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="flex flex-col md:flex-row">

      <div class="overflow-hidden md:w-2/3 flex items-center justify-center mt-1">
        <div class="bg-white w-full md:w-4/5 lg:w-3/5 xl:w-2/3 shadow-3xl rounded-xl mx-auto my-auto">
          <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/3 rounded-full">
          </div>
          <form action="{% url 'pie_detail' %}" method="post" class="p-6 md:p-6 bg-gradient-to-r from-sky-900 to-cyan-700">
            <h2 class="text-white text-2xl font-bold mb-4">Registro Nuevo Estudiante del PIE</h2>
            {% csrf_token %}

            <!-- ---------FILA 1--------- -->
            <div class="w-1/2">
              <label for="estudiante" class="form-label text-white text-sm font-sans italic mb-0">Estudiante</label>
              <select name="estudiante" id="estudiante"
                class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                <!-- <option disabled selected>Seleccione el Estudiante</option> -->
                <!-- #AQUÍ SE ITERAN LOS ESTUDIANTES -->
                {% for estudiante in estudiantes %}
                <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- ---------FILA 2--------- -->
            <div class="flex items-center text-lg mb-1 md:mb-1">
              <div class="w-1/2">
                <label for="nivel_academico" class="form-label text-white text-sm font-sans italic mb-0">Nivel Académico</label>
                <select name="nivel_academico" id="nivel_academico"
                  class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                  <!-- <option disabled selected>Seleccione el Estudiante</option> -->
                  <!-- #AQUÍ SE ITERAN LOS ESTUDIANTES -->
                  {% for estudiante in estudiantes %}
                  <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="w-1/2">
                <label for="estudiante" class="form-label text-white text-sm font-sans italic mb-0">Curso</label>
                <select name="estudiante" id="estudiante"
                  class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                  <!-- <option disabled selected>Seleccione el Estudiante</option> -->
                  <!-- #AQUÍ SE ITERAN LOS ESTUDIANTES -->
                  {% for estudiante in estudiantes %}
                  <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- ---------FILA 3--------- -->
            <div class="flex items-center text-lg mb-1 md:mb-1">
              <div class="w-1/2">
                <label for="apoderado_titular" class="form-label text-white text-sm font-sans italic mb-0">Apoderado Titular</label>
                <select name="apoderado_titular" id="apoderado_titular"
                  class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                  <!-- #AQUÍ SE ITERAN LOS APODERADOS TITULARES -->
                  {% for estudiante in estudiantes %}
                  <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- ---------FILA 4--------- -->
            <div class="flex items-center text-lg mb-1 md:mb-1">
              <div class="w-1/2">
                <label for="apoderado_suplente_uno" class="form-label text-white text-sm font-sans italic mb-0">Apoderado Suplente Uno</label>
                <select name="apoderado_suplente_uno" id="apoderado_suplente_uno"
                  class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                  <!-- #AQUÍ SE ITERAN LOS APODERADOS TITULARES -->
                  {% for estudiante in estudiantes %}
                  <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- ---------FILA 5--------- -->
            <div class="flex items-center text-lg mb-6 md:mb-3">
              <div class="w-1/2">
                <label for="apoderado_suplente_dos" class="form-label text-white text-sm font-sans italic mb-0">Apoderado Suplente Dos</label>
                <select name="apoderado_suplente_dos" id="apoderado_suplente_d"
                  class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                  <!-- #AQUÍ SE ITERAN LOS APODERADOS TITULARES -->
                  {% for estudiante in estudiantes %}
                  <option value="{{ pie.estudiante.id }}">{{ pie.estudiante }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- ---------FILA 6--------- -->
            <div class="flex justify-center">
              <button class="bg-amber-900 hover:bg-amber-600  font-medium p-2 md:p-3 
                text-white uppercase w-full rounded mx-auto mb-1" type="submit">Guardar Nueva Registro PIE</button>
            </div>

            <div class="flex justify-center">
              <a class="bg-rose-900 hover:bg-rose-600  font-medium p-2 md:p-3 
              text-white uppercase text-center w-full rounded mx-auto" href="{% url 'pie' %}">
                REGRESAR A PIE</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}