<!-- EXTENDEMOS LA PLANTILLA BASE -->
{% extends 'base.html' %} 

<!-- CARGAR LOS ESTILOS DE TAILWIND -->
{% load static %} 

 <!-- CARGAR EL TITULO DE LA PAGINA --> 
{% block title %} Index {% endblock %} 

<!-- CARGAR EL ENCABEZADO DE LA PAGINA -->
{% block header %}
<div
  class="">
  <h1 class="text-center py-4 text-white text-2xl font-sans font-semibold">
    APLICACIÓN DE CENTRALIZACIÓN DE LA INFORMACIÓN
  </h1>
  <h1 class="text-center py-0 text-white text-4xl font-sans fomt-semibold">EDUCAPRO</h1>
</div>
{% endblock %} 
{% block content %}
<body class="bg-gradient animate-gradient">
  <div class="mt-10">
    <div class="flex justify-center">
      <div
        class="flex flex-col md:flex-row md:max-w-maxrounded-lg shadow-xl bg-gradient-to-r from-sky-500 to-sky-700"
      >
        <video
          class="max-w-max h-full md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-md"
          controls
          autoplay
          muted
          loop
          src="https://educapro-bucket.s3.amazonaws.com/static/videos/Colegio.mp4"
        ></video>
        <div class="p-6 flex flex-col justify-start">
          <h5 class="text-white text-xl font-semibold mb-2">Estimado Usuario</h5>
          <p class="text-white text-md mb-10">

            Para acceder ingrese sus
            credenciales de acceso.
          </p>
          <a
          href="{% url 'custom_login' %}"
          class="font-semibold text-center px-6 py-3 mb-10 text-white no-underline bg-gradient-to-r from-amber-700 to-amber-500 rounded 
          hover:bg-amber-500 hover:bg-none">ACCEDER</a>
        
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
